.container { 
        height:100vh; 
        display: grid; 
        grid-template-rows: 20% 20% 20% 20% 20% ; 
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; 
      } 

      header1 {
        background: blue; 
        grid-column: 1 / 2;  
        grid-row: 1 / 5;  
        } 

      header2 { 
        background:red; 
        grid-column: 2 / 6;  
        grid-row: 1 / 2;  
        } 

      header3 {
        background: purple;
        grid-column: 8 / 8;
        grid-row: 1 / 1;
        }

        header4 {
            background:yellow;
            grid-column: 2 / 6;
            grid-row: 2 / 3;
            }

        
   
}